################################################################################
# Makefile.env
#
# This file contains several environment variable definitions.
# Those variables are useful to build and run this debian-based, dockerized and
# neovim-powered integrated development environment
################################################################################

################################################################################
# SECTION INDEX
#
# PROJECT PROPERTIES
# IDE TOOLING
#
################################################################################

################################################################################
# PROJECT PROPERTIES
################################################################################

# The docker compose project name you want to give to this project.
# Change this variable value when you want to have concurrent compose project
# running in parallel for whatever reasons.
# This variable value is used to name docker images, containers and volumes
# associated with this project.
# default: deovim
COMPOSE_PROJECT_NAME=deovim

# Do you want to build and use this project in a pseudo-rootless mode?
# Pseudo-rootless mode consists in running an image with a user that is not
# `root`. Pseudo-rootless means not fully-rootless as the underlying docker
# daemon is still running with a very priviledged user (sometime root).
# Set this variable to any value but 0 to activate the pseudo rootless mode.
# default: 0
ROOTLESS=0

################################################################################
# IDE TOOLING
################################################################################

# The version of the LLVM to install in the ide service docker image.
# If you specify an incorrect value, the build may fail.
# default: 20
LLVM_VERSION=20

# In the ide service, the Node.js version to install. Feel free to update it
# when new releases are available.
# Specifying the special 'latest' value will provide you with the latest
# available release. Otherwise you have to set a valid semver compliant
# version, for instance 22.4.0. incorrect or not found version will install the
# latest one.
# default: latest
NODEJS_VERSION=23.4.1
