################################################################################
# Makefile.env
#
# This file contains several environment variable definitions.
# Those variables are useful to build and run this debian-based, dockerized and
# neovim-powered integrated development environment
################################################################################

################################################################################
# SECTION INDEX
#
# PROJECT PROPERTIES
# IDE TOOLING
# AUTHENTICATION
#
################################################################################

################################################################################
# PROJECT PROPERTIES
################################################################################

# The docker compose project name you want to give to this project.
# Change this variable value when you want to have concurrent compose project
# running in parallel for whatever reasons.
# This variable value is used to name docker images, containers and volumes
# associated with this project.
# default: nideovim
COMPOSE_PROJECT_NAME ?= nideovim

# Do you want to build and use this project in a pseudo-rootless mode?
# Pseudo-rootless mode consists in running an image with a user that is not
# `root`. Pseudo-rootless means not fully-rootless as the underlying docker
# daemon is still running with a very priviledged user (sometime root).
# Set this variable to any value but 0 to activate the pseudo rootless mode.
# Keep in mind that pseudo-rootless mode does not fit well at all if you use
# DockerDesktop or Orbstack. I Did not find out a way to map user and group id
# correctly in the pseudo-rootless resulting container.
# Thus, if you use docker directly through DockerDesktop or Orbstack, set
# ROOTLESS to 0.
# Note that pseudo-rootless mode can be activated in Orbstack's virtual
# machines if you have docker installed in this virtual machine.
# default: 0
ROOTLESS ?= 0

# The user name to use when pseudo-rootless mode is used.
# default: nideovim
NON_ROOT_USER_NAME ?= nideovim

# The home directory of the user created when the pseudo-rootless mode is used.
# default: /home/nideovim
NON_ROOT_USER_HOME_DIR ?= /home/nideovim

################################################################################
# IDE TOOLING
################################################################################

# The version of the LLVM to install in the ide service docker image.
# If you specify an incorrect value, the build may fail.
# Note that the current stable version of the LLVM project may be higher that
# the default proposed version number.
# default: 19
LLVM_VERSION ?= 19

# In the ide service, the Node.js version to install. Feel free to update it
# when new releases are available.
# Specifying the special 'latest' value will provide you with the latest
# available release. Otherwise you have to set a valid semver compliant
# version, for instance 22.4.0. incorrect or not found version will install the
# latest one.
# default: latest
NODEJS_VERSION ?= latest

# Name of the directory within the user home directory of the ide service
# container. This is the target of the volume in which you can store everything
# you need.
# default: workspace
VOLUME_DIR_NAME ?= workspace

################################################################################
# AUTHENTICATION
################################################################################

# File path of the public key for ssh authentication.
# default: ~/.ssh/id_rsa.pub
SSH_PUBLIC_KEY_FILE ?= ~/.ssh/id_rsa.pub

# File path of the secret key for ssh authentication.
# default: ~/.ssh/id_rsa
SSH_SECRET_KEY_FILE ?= ~/.ssh/id_rsa
