################################################################################
# Makefile.env
#
# This file contains several environment variable definitions.
# Those variables are useful to build and run this debian-based, dockerized and
# neovim-powered integrated development environment
################################################################################

################################################################################
# SECTION INDEX
#
# PROJECT PROPERTIES
#
################################################################################

################################################################################
# PROJECT PROPERTIES
################################################################################

# The docker compose project name you want to give to this project.
# Change this variable value when you want to have concurrent compose project
# running in parallel for whatever reasons.
# This variable value is used to name docker images, containers and volumes
# associated with this project.
# default: deovim
COMPOSE_PROJECT_NAME=deovim
